/node_modules
/public/hot
/public/storage
/public/.htaccess
/public/index.php
/public/robots.txt
/public/web.config
/public/favicon.ico
/public/mix-manifest.json
/storage
/config
/bootstrap
/vendor
/test
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
artisan
composer.lock
composer.json
webpack.mix.js
phpunit.xml
server.php
